table.minetable {
    border-spacing: 0;
    * {
        border: 0;
        padding: 0;
        margin: 0;
    }

    @mixin mine-button($n) {
        background-image: url(mine.png);
        background-position: -(16px * $n) 0;
        &:active {
            @if $n == 0 {
                background-image: url(mine.png);
                background-position: -(16px * 14) 0;
            }
            @else {
                background-image: url(mine.png);
                background-position: -(16px * $n) 0;
            }
        }
    }

    td {
        width: 16px;
        height: 16px;

        @include mine-button(0);

        &.flag {
            @include mine-button(1);
        }

        @for $i from 1 through 8 {
            &.near-#{$i} {
                @include mine-button($i + 2);
            }
        }

        &.mine {
            @include mine-button(11);
        }

        &.mine-exploded {
            @include mine-button(12);
        }

        &.mine-wrong {
            @include mine-button(13);
        }

        &.empty {
            @include mine-button(14);
        }
    }
}
